alembic
click
colorama
et-xmlfile
Flask
Flask-Login
Flask-WTF
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
networkx
numpy
openpyxl
pandas
platformdirs
plotly
python-dateutil
pytz
six
sentence-transformers
SQLAlchemy
tenacity
tzdata
Werkzeug
WTForms
zipp